<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757500434994-ifs4ki0mglc6hi5s4g2ja5r23jlh45gm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757500434994-ifs4ki0mglc6hi5s4g2ja5r23jlh45gm</string>
	<key>API_KEY</key>
	<string>AIzaSyAs-spvfox1NUQAFFG0yzzH9ygakFbsbxg</string>
	<key>GCM_SENDER_ID</key>
	<string>757500434994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.skadoodlem</string>
	<key>PROJECT_ID</key>
	<string>dancingmonkey-6e76d</string>
	<key>STORAGE_BUCKET</key>
	<string>dancingmonkey-6e76d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757500434994:ios:a80777d70137acb3a47a2b</string>
</dict>
</plist>